<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav>
        <ul style="display:inline-block;">
            {% for category  in categorys %}
                <li><a href="{% url 'board:board_main' category.category %}">{{category.category}}</a></li>
            {% endfor %}
        </ul>
    </nav>

    {% for board in boards %}
    <table>
        <tr>
            <td><a href="#">{{board.title}}</a></td>
            <td>{{board.content}}</td>
            <td>{{board.create_at}}</td>
        </tr>
    </table>
    {% endfor %}
    <button>새글 등록</button>

    {% block content %}
    {% endblock content %}
</body>
</html>